/* === WC Panel Customizzation === */

.taxonomy-yith_shop_vendor .form-wrap {
    background: #fff;
    padding: 15px;
}

#yith-vendor-commission {
    max-width: 55px;
}

label.yith_vendor_enable_selling_label,
label.yith_vendor_skip_revision_label {
    display: inline;
}

.taxonomy-yith_shop_vendor form#edittag {
    background: #fff;
    padding: 15px;
}

.yith-vendor-admin-wrap {
    background-color: #ffffff;
    padding: 15px;
}

.yith-vendor-admin-wrap .form-field,
.yith-vendor-admin-wrap .form-field.yith-choosen .chosen-container {
    margin-bottom: 15px;
}

.yith-vendor-admin-wrap .form-field.yith-choosen .chosen-container {
    max-width: 40%;
}

.yith-vendor-admin-wrap label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.yith-vendor-admin-wrap .form-field select{
    width: 40%;
    margin-bottom: 10px;
}

.yith-vendor-admin-wrap .form-field span.description{
    margin-bottom: 10px;
    display: inline-block;
}

.yith-vendor-admin-wrap .form-field .payment-threshold-field {
    width: 120px;
    margin-bottom: 10px;
}

.yith-vendor-admin-wrap .vendor-extra-info {
    font-weight: bold;
}

select#tax-input-yith_shop_vendor {
    width: 100%;
    cursor: pointer;
}

#tagsdiv-yith_shop_vendor .inside {
    overflow: hidden;
}

#yith_wpv_panel_frontpage .iris-picker.iris-border {
    position: absolute;
    z-index: 999;
}

.widefat .column-commission_id {
    width: 50px;
    text-align: center
}

.widefat .column-commission_status,
.widefat .column-rate {
    width: 45px;
    text-align: center
}

.widefat .column-user_actions .action-link {
    padding-left: 7px;
}

.widefat .column-user_actions .action-link mark,
.widefat .column-commission_status mark,
.widefat .column-enable_sales mark{
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto
}

.widefat .column-user_actions .action-link mark {
    display: inline-block;
}

.widefat .column-enable_sales {
    text-align: center;
}

.widefat .column-user_actions {
    width: 160px;
}

.widefat .column-user_actions a.button.pay {
    padding: 0 6px;
    height: 2em;
    line-height: 1.8em;
}

.widefat .column-user_actions .action-link mark.cancelled:after,
.widefat .column-user_actions .action-link mark.paid:after,
.widefat .column-user_actions .action-link mark.unpaid:after,
.widefat .column-user_actions .action-link mark.pending:after,
.widefat .column-user_actions .action-link mark.refunded:after,
.widefat .column-user_actions .action-link mark.processing:after,
.widefat .column-commission_status mark.cancelled:after,
.widefat .column-commission_status mark.paid:after,
.widefat .column-commission_status mark.unpaid:after,
.widefat .column-commission_status mark.pending:after,
.widefat .column-commission_status mark.refunded:after,
.widefat .column-commission_status mark.processing:after,
.widefat .column-enable_sales mark:after {
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

.widefat .column-user_actions .action-link mark.pending:after,
.widefat .column-commission_status mark.pending:after {
    content: "\e033";
    color: #999
}

.widefat .column-user_actions .action-link mark.paid:after,
.widefat .column-commission_status mark.paid:after,
.widefat .column-enable_sales mark.enabled:after {
    content: "\e015";
    color: #2ea2cc
}

.widefat .column-enable_sales mark.enabled:after {
    color: #0EB72C;
}

.widefat .column-user_actions .action-link mark.unpaid:after,
.widefat .column-commission_status mark.unpaid:after {
    content: "\e012";
    color: #ffba00
}

.widefat .column-user_actions .action-link mark.cancelled:after,
.widefat .column-commission_status mark.cancelled:after,
.widefat .column-enable_sales mark.disabled:after {
    content: "\e013";
    color: #a00
}

.widefat .column-user_actions .action-link mark.refunded:after,
.widefat .column-commission_status mark.refunded:after {
    content: "\e014";
    color: #999
}

.widefat .column-user_actions .action-link mark.processing:after,
.widefat .column-commission_status mark.processing:after {
    content: "\e011";
    color: #73a724;
}

.widefat .column-user_actions .action-link mark {
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.widefat .column-user_actions .action-link mark:hover {
    opacity: 1;
}

#commissions-filter .tablenav .actions.bulkactions {
    padding: 0;
}

#yith_vendor_commission,
#yith_wpv_single_commission input[type=number]{
    width: 70px;
}

#yith_vendor_store_description {
    border: none;
}

#vendor-details input[type=text] {
  width: 40%;
  margin-bottom: 10px;
}

#vendor-details .form-field textarea:not(.wp-editor-area){
    width: 100%;
    resize: none;
}

#vendor-details .form-field textarea.wp-editor-area{
    border: 1px solid #e4e4e4;
    resize: none;
}

.spinner.yith-visible {
    float: none;
    display: inline-block;
    position: absolute;
}

/* Single product commission */
#woocommerce-product-data ul.wc-tabs li.commissions_options  a:before{
    content: "\e038";
}

#order_data.yith-commission .order_data_column {
    width: 25%;
    padding: 0;
}

#commissions-filter .tablenav #filter-by-date {
    float: left;
    margin-right: 8px;
}

#product_data_search.yith-wpv-commissions{
    width: 50%;
    display: inline;
}

#yith_wpv_panel_payments span.description {
  display: block;
  margin-top: 10px;
}


