/* === WC Panel Customizzation === */

.taxonomy-yith_shop_vendor .form-wrap {
    background: #fff;
    padding: 15px;
}

#yith-vendor-commission{
    max-width: 55px;
}

label.yith_vendor_enable_selling_label {
    display: inline;
}

.taxonomy-yith_shop_vendor form#edittag {
    background: #fff;
    padding: 15px;
}

.yith-vendor-admin-informations-wrap {
    background-color: #ffffff;
    padding: 0 15px;
}

.yith-vendor-admin-informations-wrap label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.yith-vendor-admin-informations-wrap .vendor-extra-info {
    font-weight: bold;
}

select#tax-input-yith_shop_vendor {
    width: 100%;
    cursor: pointer;
}

#tagsdiv-yith_shop_vendor .inside {
    overflow: hidden;
}

#yith_wpv_panel_vendors .iris-picker.iris-border {
    position: absolute;
    z-index: 999;
}

.widefat .column-commission_id {
    width: 50px;
    text-align: center
}

.widefat .column-commission_status,
.widefat .column-rate {
    width: 45px;
    text-align: center
}

.widefat .column-user_actions .action-link {
    padding-left: 7px;
}

.widefat .column-user_actions .action-link mark,
.widefat .column-commission_status mark {
    display: block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    background: 0 0;
    font-size: 1.4em;
    margin: 0 auto
}

.widefat .column-user_actions .action-link mark {
    display: inline-block;
}

.widefat .column-user_actions .action-link mark.cancelled:after,
.widefat .column-user_actions .action-link mark.paid:after,
.widefat .column-user_actions .action-link mark.unpaid:after,
.widefat .column-user_actions .action-link mark.pending:after,
.widefat .column-user_actions .action-link mark.refunded:after,
.widefat .column-commission_status mark.cancelled:after,
.widefat .column-commission_status mark.paid:after,
.widefat .column-commission_status mark.unpaid:after,
.widefat .column-commission_status mark.pending:after,
.widefat .column-commission_status mark.refunded:after{
    font-family: WooCommerce;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

.widefat .column-user_actions .action-link mark.pending:after,
.widefat .column-commission_status mark.pending:after {
    content: "\e033";
    color: #999
}

.widefat .column-user_actions .action-link mark.paid:after,
.widefat .column-commission_status mark.paid:after {
    content: "\e015";
    color: #2ea2cc
}

.widefat .column-user_actions .action-link mark.unpaid:after,
.widefat .column-commission_status mark.unpaid:after {
    content: "\e012";
    color: #ffba00
}

.widefat .column-user_actions .action-link mark.cancelled:after,
.widefat .column-commission_status mark.cancelled:after {
    content: "\e013";
    color: #a00
}

.widefat .column-user_actions .action-link mark.refunded:after,
.widefat .column-commission_status mark.refunded:after {
    content: "\e014";
    color: #999
}

.widefat .column-user_actions .action-link mark {
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.widefat .column-user_actions .action-link mark:hover {
    opacity: 1;
}

#commissions-filter .tablenav .actions.bulkactions {
    padding: 0;
}

#yith_vendor_commission {
    width: 60px;
}

#yith_vendor_store_description {
    border: none;
}